

.principal {
   background-image: linear-gradient(to bottom, #EBE815, #8FE600);
   
}

.Titulo {
 text-align: center;
 font-size: 38 px;
 border-radius: 10px;
 padding: 10px;
 color: #ffffff;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(176, 179, 45);
width:600px;
margin: auto;
}

.imagens {
   display:flex;
   justify-content:center;
   padding-top: 50px;
}

.imagens2 {
   display:flex;
   justify-content:center;
   padding-bottom: 16px;
   margin-left: 3px;
}

a {
   text-decoration: none;
}


.secundario {
   background-image: linear-gradient(to bottom, #EB9A15, #EBB315);
}

.botao {
   color: rgb(255, 255, 255);
   font-size: 20px;
   text-align: center;
background-color: rgba(134, 99, 0, 0.288);
margin: auto;
width: 200px;

}

.vertical-line { border-left: 2px solid black; /* Define a largura e a cor da linha */ height: 550px; /* Altura da linha */ margin-left: 200px; /* Espaçamento à esquerda */ }

.vertical-line2 { border-left: 2px solid black; /* Define a largura e a cor da linha */ height: 40px; /* Altura da linha */ margin-left: 200px; /* Espaçamento à esquerda */ }


.vertical-line { border-right: 2px solid black; /* Define a largura e a cor da linha */ height: 550px; /* Altura da linha */ margin-right: 200px; /* Espaçamento à esquerda */ }

.vertical-line2 { border-right: 2px solid black; /* Define a largura e a cor da linha */ height: 40px; /* Altura da linha */ margin-right: 200px; /* Espaçamento à esquerda */ }
